<tr>
  <td><%= sample.id %></td>
  <td><%= sample.owner.firstname %> <%= sample.owner.surname %></td>
  <td><%= sample.facility_id %></td>
  <td><%= sample.project_id %></td>
  <td><%= sample.sample_set_id %></td>
  <td><%= sample.tree %></td>
  <td><%= sample.date_sampled %></td>
  <td><%= sample.storage_location_id %></td>
  <td><%= sample.sampled %></td>
  <td><%= link_to "View", sample %></td>
</tr>