<tr>	
  <td><%= sample.id %></td>
  <td><%= sample.owner.firstname %> <%= sample.owner.surname %></td>
  <td><%= sample.facility.code %></td>
  <td><%= sample.project.code %></td>
  <td><%= sample.sample_set_id %></td>
  <td><%= sample.material_type %></td>
  <td><%= sample.date_sampled %></td>
  <% if sample.storage_location %>
    <td><%= sample.storage_location.code %></td>
  <% else %>
    <td></td>
  <% end %>
  <td><%= sample.sampled %></td>
  <td><%= link_to "View", sample %></td>
</tr>