<% provide(:title, "Edit Sample") %>
<% provide(:pageheading, 'Edit Sample '+ @sample.id.to_s) %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@sample) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :facility_id, 'Facility' %>
      <%= f.number_field :facility_id, :min => 0 %>
      
      <%= f.label :project_id, 'Project' %>
      <%= f.number_field :project_id, :min => 0 %>
      
      <%= f.label :sample_set_id, 'Sample Set' %>
      <%= f.number_field :sample_set_id, :min => 0 %>

      <%= f.label :tree, 'Tree' %>
      <%= f.number_field :tree, :min => 0 %>

      <%= f.label :date_sampled, 'Date Sampled' %>
      <%= f.date_field :date_sampled %>
      
      <%= f.label :sampled, "Sampled?" %>
      <%= f.text_field :sampled %>

      <%= f.label :comments, "Additional Comments" %>
      <%= f.text_area :comments, size: "60x12" %>

      <%= f.submit "Update Sample", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>