<% provide(:title, "Edit Sample") %>

<% if @parent %>
  <% provide(:pageheading, 'Edit Sample '+ @sample.id.to_s + ' (subsample of '+@parent.id.to_s+')') %>
<% else %>
  <% provide(:pageheading, 'Edit Sample '+ @sample.id.to_s ) %>
<% end %>

<% if @sample.subsamples.exists? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="well well-red">
        Note - Editing a Parent Sample will automatically update all associated subsample details
      </div>
    </div>
  </div>
<% end %>

<%= form_for @sample, :html => {:class => "form-horizontal"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      
    <% if @parent %> 
          <!-- Start with subsample case in which it should automatically adopt certain values of its parent-->
	      <%= f.hidden_field :parent_id, :value => @parent.id %>
	      <%= f.hidden_field :facility_id, :value => @parent.facility_id %>
	      <%= f.hidden_field :material_type, :value => @parent.material_type %>
	      <%= f.hidden_field :sample_set_id, :value => '' %> <!-- A subsample does not have a sampleset directly attached to it-->
	      <%= f.hidden_field :date_sampled, :value => @parent.date_sampled %>
	      <%= f.hidden_field :tree, :value => @parent.tree %>
	      <%= f.hidden_field :ring, :value => @parent.ring %>
	      <%= f.hidden_field :northing, :value => @parent.northing %>
	      <%= f.hidden_field :easting, :value => @parent.easting %>
	      <%= f.hidden_field :vertical, :value => @parent.vertical %>
	      <%= f.hidden_field :amount_collected, :value => 'N/A' %> <!-- forcing 'amount collected = N/A' for subsamples -->
	<% else %>
	
		  <div class="form-group">
	        <%= f.label :facility_id, 'Facility', :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= collection_select(:sample, :facility_id, Facility.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'facilities'} ) %>
	        </div>
	      </div>
	     
	      <div class="form-group">
	        <%= f.label :material_type, "Sample Type", :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.text_field :material_type, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <%= f.label :date_sampled, 'Date Sampled', :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.date_field :date_sampled, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">      
		    <%= f.label :tree, 'Tree', :class => "col-lg-2 control-label" %>
		    <div class="col-lg-8">
		      <%= f.number_field :tree, :min => 0, :class => "form-control" %>
		    </div>
	      </div>
	
	      <div class="form-group">      
	        <%= f.label :ring, 'Ring', :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.number_field :ring, :min => 0, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <%= f.label :northing, 'Northing', :class => "col-lg-2 control-label" %> 
	        <div class="col-lg-8">
	          <%= f.number_field :northing, :min => 0, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <%= f.label :easting, 'Easting', :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.number_field :easting, :min => 0, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <%= f.label :vertical, 'Height/Depth', :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.number_field :vertical, :min => 0, :class => "form-control" %>
	        </div>
	      </div>
	      
	      <div class="form-group">
	        <%= f.label :amount_collected, "Amount Collected", :class => "col-lg-2 control-label" %>
	        <div class="col-lg-8">
	          <%= f.text_field :amount_collected, :class => "form-control" %>
	        </div>
	      </div>
	      
	  <% end %>
	  
      <div class="form-group">
	  <%= f.label :project_id, 'Project', :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :project_id, Project.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'projects'}) %>
	  </div> 
  </div>   
  
  <div class="form-group">      
	  <%= f.label :amount_stored, "Amount Stored", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.text_field :amount_stored, :class => "form-control" %>
	  </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :storage_location_id, "Storage Location", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :storage_location_id, StorageLocation.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'storage_locations'}) %>
	  </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :container_id, "Container", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :container_id, Container.all, :id, :id, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'containers'}) %>
	  </div>
  </div>
  
  <div class="form-group">
  	<%= f.label :analyses, "Analyses", :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8">
      <%= collection_select(:sample, :analysis_ids, Analysis.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>"analyses", :multiple => true }) %>
    </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :comments, "Additional Comments", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.text_area :comments, size: "60x12", :class => "form-control" %>
	  </div>
  </div>
  
  <div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-md-offset-3 col-md-6">
	  <div class="form-group well well-green center">
	    <%= f.label :sampled, "Mark as 'Complete'?" %>
	    <%= f.check_box :sampled %>
	  </div>
	</div>
  </div>	
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Update Sample", :class => "btn btn-large btn-primary" %>
    </div>
  </div>

<% end %>

<% if @parent %>
	<div class="row rowline"> 
	  	<h4 class= "heading-separator center">Adopted details from parent sample</h4>
	</div>
	
	<div class="row heading-separator">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Owner</h4>
	  </div>
	  <div class="col-md-2">
	    <p class="text-muted"><%= @parent.owner.firstname %> <%= @parent.owner.surname %></p>
	  </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Facility</p>
	  </div>
	  <div class="col-md-2">
	    <p class="text-muted"><%= @parent.facility.code %></p>
	  </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Member of Sample Set</p>
	  </div>
	  <div class="col-md-2">
	    <p class="text-muted"><%= @parent.sample_set_id %></p>
	  </div>
	</div>

	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Date sample taken</p>
	  </div>
	  <div class="col-md-2">
	    <p class="text-muted"><%= @parent.date_sampled %></p>
	  </div>
	</div>

	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Sample Type</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.material_type.present? %>
          <p class="text-muted"><%= @parent.material_type %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Ring</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.ring.present? %>
          <p class="text-muted"><%= @parent.ring %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
    <div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Tree</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.tree.present? %>
          <p class="text-muted"><%= @parent.tree %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Northing</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.northing.present? %>
          <p class="text-muted"><%= @parent.northing %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
    <div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Easting</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.easting.present? %>
          <p class="text-muted"><%= @parent.easting %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Height/Depth</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.vertical.present? %>
          <p class="text-muted"><%= @parent.vertical %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
	<div class="row">  
	  <div class="col-md-offset-3 col-md-3">
	    <p class="text-left">Amount collected</p>
	  </div>
	  <div class="col-md-2">
	    <% if @parent.amount_collected.present? %>
          <p class="text-muted"><%= @parent.amount_collected %></p>
        <% else %>
          <p></p>
        <% end %>
      </div>
	</div>
	
	
<% end %>

<script type="text/javascript">
$('#analyses').multiselect({
    includeSelectAllOption: true,
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});

$('#projects, #containers, #facilities, #storage_locations').multiselect({
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});
</script>
