<% provide(:title, 'Sample List') %>
<% provide(:pageheading, 'Sample List') %>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          
          <button type="button" class="btn btn-block btn-info">
            Search/Filter results
          </button>
          
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">

        <div id="facets">
          <div class="row">
            <div class="col-md-2 ">
              <h5 class="center">Facility</h5>  
              <ul>
                <% for row in @search.facet(:facility_code).rows %>
                  <li>
                    <% if params[:myfacility].blank? %>
                      <%= link_to row.value, params.merge({:myfacility => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:myfacility, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="center">Month Sampled</h5>  
              <ul>
                <% for row in @search.facet(:month_sampled).rows %>
                  <li>
                    <% if params[:mymonthsampled].blank? %>
                      <%= link_to row.value, params.merge({:mymonthsampled => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:mymonthsampled, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="center">Sample Type</h5>  
              <ul>
                <% for row in @search.facet(:material_type).rows %>
                  <li>
                    <% if params[:mymaterialtype].blank? %>
                      <%= link_to row.value, params.merge({:mymaterialtype => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:mymaterialtype, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="center">Project</h5>  
              <ul>
                <% for row in @search.facet(:project_id).rows %>
                  <li>
                    <% if params[:myprojectid].blank? %>
                      <%= link_to row.value, params.merge({:myprojectid => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:myprojectid, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-md-2">
              <h5 class="center">Ring</h5>
              <ul>
                <% for row in @search.facet(:ring).rows %>
                  <li>
                    <% if params[:my_ring].blank? %>
                      <%= link_to row.value, params.merge({:my_ring => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:my_ring, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>	
            </div>
            <div class="col-md-2">
              <h5 class="center">Primary?</h5>
              <ul>
                <% for row in @search.facet(:is_primary).rows %>
                  <li>
                    <% if params[:my_is_primary].blank? %>
                      <%= link_to row.value, params.merge({:my_is_primary => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:my_is_primary, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>	
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-2">
              <h5 class="center">Completed?</h5>
              <ul>
                <% for row in @search.facet(:sampled).rows %>
                  <li>
                    <% if params[:my_sampled].blank? %>
                      <%= link_to row.value, params.merge({:my_sampled => row.value}).except(:page) %> (<%= row.count %>)
                    <% else %>
                      <strong><%= row.value %></strong> (<%= link_to "remove", params.except(:my_sampled, :page) %>)
                    <% end %>
                  </li>
                <% end %>
              </ul>	
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-xs-12">
    <%= render 'samples/samples' %>
  </div>
</div>
