<% provide(:title, 'New Sample') %>

<% if @parent %>
  <% provide(:pageheading, 'New Sample (subsample of ' + @parent.id.to_s + ')') %>
<% else %>
  <% provide(:pageheading, 'New Sample') %>
<% end %>

<%= form_for @sample, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% if @parent %>
      <!-- Start with subsample case in which it should automatically adopt certain values of its parent-->
      <%= f.hidden_field :parent_id, :value => @parent.id %>
      <%= f.hidden_field :facility_id, :value => @parent.facility_id %>
      <%= f.hidden_field :material_type, :value => @parent.material_type %>
      <%= f.hidden_field :sample_set_id, :value => '' %> <!-- A subsample does not have a sampleset directly attached to it-->
      <%= f.hidden_field :date_sampled, :value => @parent.date_sampled %>
      <%= f.hidden_field :plot, :value => @parent.plot %>
      <%= f.hidden_field :tree, :value => @parent.tree %>
      <%= f.hidden_field :ring, :value => @parent.ring %>
      <%= f.hidden_field :northing, :value => @parent.northing %>
      <%= f.hidden_field :easting, :value => @parent.easting %>
      <%= f.hidden_field :vertical, :value => @parent.vertical %>
      <%= f.hidden_field :sampled, :value => 'true' %>        <!-- forcing 'sampled = true' for samples that are added as a subsample of another sample -->
      <%= f.hidden_field :amount_collected, :value => 'N/A' %> <!-- forcing 'amount collected = N/A' for subsamples -->
  <% else %>
      <!-- Expose all form fields for entry --> 
      <div class="form-group">
        <%= f.label :facility_id, 'Facility', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= collection_select(:sample, :facility_id, Facility.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'facilities'} ) %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :material_type, "Sample Type", :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :material_type, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :date_sampled, 'Date Sampled', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.date_field :date_sampled, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :plot, 'Plot', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.number_field :plot, :min => 0, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">      
	    <%= f.label :tree, 'Tree', :class => "col-lg-2 control-label" %>
	    <div class="col-lg-8">
	      <%= f.number_field :tree, :min => 0, :class => "form-control" %>
	    </div>
      </div>

      <div class="form-group">      
        <%= f.label :ring, 'Ring', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.number_field :ring, :min => 0, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :northing, 'Northing', :class => "col-lg-2 control-label" %> 
        <div class="col-lg-8">
          <%= f.number_field :northing, :min => 0, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :easting, 'Easting', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.number_field :easting, :min => 0, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :vertical, 'Height', :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.number_field :vertical, :min => 0, :class => "form-control" %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :amount_collected, "Amount Collected", :class => "col-lg-2 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :amount_collected, :class => "form-control" %>
        </div>
      </div>
      
      <%= f.hidden_field :sampled, :value => 'true' %>    <!-- forcing 'sampled = true' for samples that are added directly -->
      
  <% end %>     
  
  <div class="form-group">
	  <%= f.label :project_id, 'Project', :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :project_id, Project.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>"projects"}) %>
	  </div> 
  </div>   
  
  <div class="form-group">      
	  <%= f.label :amount_stored, "Amount Stored", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.text_field :amount_stored, :class => "form-control" %>
	  </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :storage_location_id, "Storage Location", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :storage_location_id, StorageLocation.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'storage_locations'}) %>
	  </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :container_id, "Container", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= collection_select(:sample, :container_id, Container.all, :id, :id, {include_blank: 'None selected'}, {:class=>"form-control", :id=>"containers"}) %>
	  </div>
  </div>
  
  <div class="form-group">
  	<%= f.label :analyses, "Analyses", :class => "col-lg-2 control-label"  %>
    <div class="col-lg-8">
      <%= collection_select(:sample, :analysis_ids, Analysis.all, :id, :code, {}, {:class=>"form-control", :id=>"analyses", :multiple => true }) %>
    </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :comments, "Additional Comments", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.text_area :comments, size: "60x12", :class => "form-control" %>
	  </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
	    <% if @parent %>
	      <%= f.submit "Submit", :class => "btn btn-large btn-primary", :parent_id => @parent.id %>
	    <% else %>
	      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
	    <% end %>
    </div>
  </div>

<% end %>

<% if @parent %>
	<div class="row rowline"> 
	  	<h2>Adopted details from parent sample</h2>
	</div>
	
	<div class="row"> 
	  <div class="span8 offset3">
	    <div class="row">   
	      <div class="span3">
	        <h5>Owner</h5>
	      </div>
	      <div class="span3 offset1">
	        <h5><%= @parent.owner.firstname %> <%= @parent.owner.surname %></h5>
	      </div>
	    </div>
	    <div class="row">   
	      <div class="span3">
	        <h5>Facility</h5>
	      </div>
	      <div class="span3 offset1">
	        <h5><%= @parent.facility.code %></h5>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Project</h5>
	      </div>
	      <div class="span3 offset1">
	        <h5><%= @parent.project_id %></h5>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Member of Sample Set</h5>
	      </div>
	      <div class="span3 offset1">
	        <h5><%= @parent.sample_set_id %></h5>
	      </div>
	    </div>
	    
	    <div class="row">     
	      <div class="span3">
	        <h5>Date sample taken</h5>
	      </div>
	      <div class="span3 offset1">
	        <h5><%= @parent.date_sampled %></h5>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Sample Type</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.material_type.present? %>
	          <h5><%= @parent.material_type %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Plot</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.plot.present? %>
	          <h5><%= @parent.plot %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Ring</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.ring.present? %>
	          <h5><%= @parent.ring %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Tree</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.tree.present? %>
	          <h5><%= @parent.tree %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Northing</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.northing.present? %>
	          <h5><%= @parent.northing %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Easting</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.easting.present? %>
	          <h5><%= @parent.easting %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Height</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.vertical.present? %>
	          <h5><%= @parent.vertical %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	    <div class="row">     
	      <div class="span3">
	        <h5>Amount Collected</h5>
	      </div>
	      <div class="span3 offset1">
	        <% if @parent.amount_collected.present? %>
	          <h5><%= @parent.amount_collected %></h5>
	        <% else %>
	          <h5></h5>
	        <% end %>
	      </div>
	    </div>
	
	  </div>
	</div>
	
<% end %>

<script type="text/javascript">
$('#analyses').multiselect({
    includeSelectAllOption: true,
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});

$('#projects, #containers, #facilities, #storage_locations').multiselect({
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});
</script>