<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>


<% provide(:title, 'Sample View') %>

<% if @parent %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s + ' (subsample of ' + @parent.id.to_s + ')') %>
<% else %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s) %>
<% end %>


<!-- Add edit/subsample/delete buttons if current user -->
<% if current_user?(@sample.owner) %> 
  <div class="row">  
    <div class="span2 offset5">
      <%= button_to "Edit Sample", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Add Subsample", new_sample_sample_path(sample_id:@sample.id), :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Sample", @sample, method: :delete, data: { confirm: "Are you sure?" }, title: @sample.project_id, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="span7 offset1">
    <div class="row">  
      <div class="span3">
        <h4>Sample ID</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.id %></h4>
      </div>
    </div>
    <div class="row">   
      <div class="span3">
        <h4>Owner</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.owner.firstname %> <%= @sample.owner.surname %></h4>
      </div>
    </div>
    <div class="row">   
      <div class="span3">
        <h4>Facility</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.facility.code %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Project</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.project_id %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Member of Sample Set</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.sample_set_id %></h4>
      </div>
    </div>
    
    <div class="row">     
      <div class="span3">
        <h4>Sample taken?</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.sampled %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Date sample taken</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.date_sampled %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Sample Type</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.material_type.present? %>
          <h4><%= @sample.material_type %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Plot</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.plot.present? %>
          <h4><%= @sample.plot %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Ring</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.ring.present? %>
          <h4><%= @sample.ring %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Tree</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.tree.present? %>
          <h4><%= @sample.tree %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Northing</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.northing.present? %>
          <h4><%= @sample.northing %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Easting</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.easting.present? %>
          <h4><%= @sample.easting %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Height</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.vertical.present? %>
          <h4><%= @sample.vertical %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Amount Collected</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.amount_collected.present? %>
          <h4><%= @sample.amount_collected %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Amount Stored</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.amount_stored.present? %>
          <h4><%= @sample.amount_stored %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Storage Location</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.storage_location.present? %>
          <h4><%= @sample.storage_location.code %></h4>
        <% else %>
          <h4></h4>
        <% end %>
      </div>
    </div>
    
    <div class="row">     
      <div class="span3">
        <h4>Comments</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.comments %></h4>
      </div>
    </div>
  </div>
  
  
  <div class="span4">
    <div class="row">
      <div class="span2 offset1">
        <%= render_qr_code(sample_url(@sample), 3) %>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset2">
        <h4><%= @sample.id %></h4>
      </div>
    </div>
  </div>

</div>