<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>


<% provide(:title, 'Sample View') %>

<% if @parent %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s + ' (subsample of ' + @parent.id.to_s + ')') %>
<% else %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s) %>
<% end %>

<!-- Add edit/delete links if current user -->
<% if current_user == @sample.owner %> 
  <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
        	<% if @parent %>
		      <li><%= link_to "Edit Sample", :action => 'edit', :parent_id => @parent.id %></li>
		    <% else %>
		      <li><%= link_to "Edit Sample", :action => 'edit' %></li>
		    <% end %>
		    <% if @parent %>
		      <li> <%= link_to "View Parent", sample_path(id:@parent.id), :id=>"viewparent_button" %> </li>
		    <% end %>
		    <% if !@parent and @sample.sampled %>
			    <li><%= link_to "Add Subsample", new_sample_sample_path(sample_id:@sample.id) %> </li>
		    <% end %>
		    <li><%= link_to "Print QR Code", sample_path(format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Delete Sample", @sample, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-xs-12">
    <% if @sample.sampled %>
      <div class="well well-semigreen">
        This sample has been collected and documented
      </div>
    <% else %>
      <div class="well well-red">
        This sample is pending collection or documentation
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
  	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Owner</p>
	  </div>    
	  <div class="col-md-1 text-right">
	  </div>
	  <div class="col-md-offset-1 col-md-6">
	    <p class="text-muted"><%= @sample.owner.firstname %> <%= @sample.owner.surname %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Facility</p>
	  </div>
	  <div class="col-md-offset-1 col-md-6">
	    <%= link_to facility_path(id:@sample.facility.id), remote: true, :"data-toggle" => 'modal', :"data-target" => '#Facility_Modal' do %>
		  <p class="text-muted"><%= @sample.facility.code.to_s+" " %> <span class="glyphicon glyphicon-info-sign"></span></p> 
		<% end %>  
	 </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Project</p>
	  </div>  
	  <div class="col-md-offset-1 col-md-6">
	    <%= link_to project_path(id:@sample.project.id), remote: true, :"data-toggle" => 'modal', :"data-target" => '#Project_Modal' do %>
		  <p class="text-muted"><%= @sample.project.code.to_s+" " %> <span class="glyphicon glyphicon-info-sign"></span></p> 
		<% end %>  
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Member of Sample Set</p>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	  	<% if @sample.sample_set.present? %>
	  	  <%= link_to sample_set_path(id:@sample.sample_set.id), remote: true, :"data-toggle" => 'modal', :"data-target" => '#SampleSet_Modal' do %>
		    <p class="text-muted"><%= @sample.sample_set_id.to_s+" " %> <span class="glyphicon glyphicon-info-sign"></span></p>  
		  <% end %> 
		<% else %>
		  <p class="text-muted">N/A</p>
		<% end %>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Date sample taken</p>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <p class="text-muted"><%= @sample.date_sampled %></p>
	  </div>
	</div>
	    
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Sample Type</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.material_type.present? %>
	      <p class="text-muted"><%= @sample.material_type %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Plot</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.plot.present? %>
	      <p class="text-muted"><%= @sample.plot %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Ring</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.ring.present? %>
	      <p class="text-muted"><%= @sample.ring %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	  
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Tree</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.tree.present? %>
	      <p class="text-muted"><%= @sample.tree %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Northing</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.northing.present? %>
	      <p class="text-muted"><%= @sample.northing %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Easting</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.easting.present? %>
	      <p class="text-muted"><%= @sample.easting %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Height</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.vertical.present? %>
	      <p class="text-muted"><%= @sample.vertical %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Amount Collected</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.amount_collected.present? %>
	      <p class="text-muted"><%= @sample.amount_collected %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Amount Stored</h5>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.amount_stored.present? %>
	      <p class="text-muted"><%= @sample.amount_stored %></p>
	    <% else %>
	      <p></p>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Container</p>
	  </div> 
	  <div class="col-md-offset-1 col-md-6">
	    <% if @sample.container.present? %>
	      <p class="text-muted"><%= @sample.container.id %></p>   
	    <% else %>
	      <% if @sample.sampled? %>
	        <p class="text-muted">N/A</p>
	      <% else %>
	        <p></p>
	      <% end %>
	    <% end %>
	  </div>
	</div>
	
	<div class="row">     
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Storage Location</h5>
	  </div> 
	    <% if @sample.storage_location.present? %>
	      <div class="col-md-offset-1 col-md-6">
		  	<%= link_to storage_location_path(id:@sample.storage_location.id), remote: true, :"data-toggle" => 'modal', :"data-target" => '#StorageLocation_Modal' do %>
			  <p class="text-muted"><%= @sample.storage_location.code.to_s+" " %> <span class="glyphicon glyphicon-info-sign"></span></p>  
			<% end %> 
		  </div>
	    <% else %>
	      <p></p>
	    <% end %>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Comments</p>
	  </div>  
	  <div class="col-md-offset-1 col-md-6">
	    <p class="text-muted"><%= @sample.comments %></p>
	  </div>
	</div>
	
  </div>
  
  <div class="col-md-3">
  	
  	<div class="row">
	  <div class="col-xs-5 col-md-9">
	    <%= render_qr_code(sample_url(@sample), 3) %>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-md-9">
	    <h5 class="text-center">S<%= @sample.id %></h5>
	  </div>
	</div>
  </div>
</div>
    

<h4 class= "heading-separator rowline center">Subsamples associated with Sample <%= @sample.id %></h4>

<div class="row">
  <div class="col-xs-12">
	<% if @sample.is_primary? %>
	  <% if @sample.subsamples.empty? %>
	    <p class="center">This Sample is not currently associated with any Subsamples</p>
	  <% else %>
	    <%= render 'samples/samples' %>
	  <% end %>
	<% else %>
      <p class="center">Subsamples can not be derived from existing Subsamples</p>
	<% end %>
  </div>
</div>

<% if @sample.facility.present? %>
  <div class="modal fade" id="Facility_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>
<% if @sample.project.present? %>
  <div class="modal fade" id="Project_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>
<% if @sample.storage_location.present? %>
  <div class="modal fade" id="StorageLocation_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>
<% if @sample.sample_set.present? %>
  <div class="modal fade" id="SampleSet_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% end %>

<script type="text/javascript">
$(function() {
  <% if @sample.sample_set.present? %>
    $('#SampleSet_Modal').html("<%= escape_javascript(render 'shared/sample_set_modal') %>");	
  <% end %>
  
  <% if @sample.project.present? %>
    $('#Project_Modal').html("<%= escape_javascript(render 'shared/project_modal') %>");	
  <% end %>
  
  <% if @sample.facility.present? %>
    $("#Facility_Modal").html("<%= escape_javascript(render 'shared/facility_modal') %>");
  <% end %>
  
  <% if @sample.storage_location.present? %>
    $("#StorageLocation_Modal").html("<%= escape_javascript(render 'shared/storage_location_modal') %>");
  <% end %>
});
</script>

