<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>


<% provide(:title, 'Sample View') %>
<% provide(:pageheading, 'Sample '+ @sample.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@sample.owner) %> 
  <div class="row">  
    <div class="span2 offset8">
      <%= button_to "Edit Sample", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Sample", @sample, method: :delete, data: { confirm: "Are you sure?" }, title: @sample.project_id, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span7">
    <div class="row">  
      <div class="span3">
        <h4>Sample ID</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.id %></h4>
      </div>
    </div>
    <div class="row">   
      <div class="span3">
        <h4>Owner</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.owner.firstname %> <%= @sample.owner.surname %></h4>
      </div>
    </div>
    <div class="row">   
      <div class="span3">
        <h4>Facility</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.facility_id %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Project</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.project_id %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Member of Sample Set</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.sample_set_id %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Tree</h4>
      </div>
      <div class="span3 offset1">
        <% if @sample.tree.present? %>
          <h4><%= @sample.tree %></h4>
        <% else %>
          <h4>None</h4>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Sample taken?</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.sampled %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Date sample taken</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.date_sampled %></h4>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h4>Comments</h4>
      </div>
      <div class="span3 offset1">
        <h4><%= @sample.comments %></h4>
      </div>
    </div>
  </div>
  
  <div id="qrcode" class="span4 offset1">
    <table>
      <% @qr.modules.each_index do |x| %>
        <tr>  
        <% @qr.modules.each_index do |y| %>
         <% if @qr.dark?(x,y) %>
          <td class="black"/>
         <% else %>
          <td class="white"/>
         <% end %>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="row">     
    <div class="span2 offset2">
      <h1><%= @sample.id %></h1>
    </div>
</div>  
</div>

