<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>


<% provide(:title, 'Sample View') %>

<% if @parent %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s + ' (subsample of ' + @parent.id.to_s + ')') %>
<% else %>
  <% provide(:pageheading, 'Sample ' + @sample.id.to_s) %>
<% end %>

<!-- Add edit/delete links if current user -->
<% if current_user?(@sample.owner) %> 
  <div class="row bottomspace">  
    <div class="span2 offset10">
	  <div class="btn-group">
		<a class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
        	<% if @parent %>
		      <li><%= link_to "Edit Sample", :action => 'edit', :parent_id => @parent.id %></li>
		    <% else %>
		      <li><%= link_to "Edit Sample", :action => 'edit' %></li>
		    <% end %>
		    <% if @parent %>
		      <li> <%= link_to "View Parent", sample_path(id:@parent.id), :id=>"viewparent_button" %> </li>
		    <% end %>
		    <% if !@parent and @sample.sampled %>
			    <li><%= link_to "Add Subsample", new_sample_sample_path(sample_id:@sample.id) %> </li>
		    <% end %>
		    <li><%= link_to "Print QR Code", sample_path(format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Delete Sample", @sample, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	  </div>
    </div>
  </div>
<% end %>


<div class="row">
  <!-- <div class="span10 offset1"> -->
  <div class="col-md-12">
    <% if @sample.sampled %>
      <div class="well well-semigreen">
        This sample has been collected and documented
      </div>
    <% else %>
      <div class="well well-red">
        This sample is pending collection or documentation
      </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="span7 offset1">
    <div class="row">   
      <div class="span3">
        <h5>Owner</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.owner.firstname %> <%= @sample.owner.surname %></h5>
      </div>
    </div>
    <div class="row">   
      <div class="span3">
        <h5>Facility</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.facility.code %></h5>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Project</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.project_id %></h5>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Member of Sample Set</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.sample_set_id %></h5>
      </div>
    </div>
    
    <div class="row">     
      <div class="span3">
        <h5>Date sample taken</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.date_sampled %></h5>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Sample Type</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.material_type.present? %>
          <h5><%= @sample.material_type %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Plot</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.plot.present? %>
          <h5><%= @sample.plot %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Ring</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.ring.present? %>
          <h5><%= @sample.ring %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Tree</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.tree.present? %>
          <h5><%= @sample.tree %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Northing</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.northing.present? %>
          <h5><%= @sample.northing %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Easting</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.easting.present? %>
          <h5><%= @sample.easting %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Height</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.vertical.present? %>
          <h5><%= @sample.vertical %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Amount Collected</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.amount_collected.present? %>
          <h5><%= @sample.amount_collected %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Amount Stored</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.amount_stored.present? %>
          <h5><%= @sample.amount_stored %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Container</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.container.present? %>
          <h5><%= @sample.container.id %></h5>
        <% else %>
          <% if @sample.sampled? %>
            <h5>N/A</h5>
          <% else %>
            <h5></h5>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">     
      <div class="span3">
        <h5>Storage Location</h5>
      </div>
      <div class="span3 offset1">
        <% if @sample.storage_location.present? %>
          <h5><%= @sample.storage_location.code %></h5>
        <% else %>
          <h5></h5>
        <% end %>
      </div>
    </div>
    
    <div class="row">     
      <div class="span3">
        <h5>Comments</h5>
      </div>
      <div class="span3 offset1">
        <h5><%= @sample.comments %></h5>
      </div>
    </div>
  </div>
  
  
  <div class="span4">
    
    <div class="row">
      <div class="span2 offset1">
        <%= render_qr_code(sample_url(@sample), 3) %>
      </div>
    </div>
    <div class="row center">
      <div class="span2 offset1">
        <h5>S<%= @sample.id %></h5>
      </div>
    </div>
  </div>

</div>


<h2 class= "heading-separator">Subsamples associated with Sample <%= @sample.id %></h2>

<div class="row">
  <div class="span12">
	<% if @sample.is_primary? %>
	  <% if @sample.subsamples.empty? %>
	    <h5 class="center">This Sample is not currently associated with any Subsamples</h5>
	  <% else %>
	    <%= render 'samples/samples' %>
	  <% end %>
	<% else %>
      <h5 class="center">Subsamples can not be derived from existing Subsamples</h5>
	<% end %>
  </div>
</div>
