<tr>
  <td><%= sample_set.id %></td>
  <td><%= sample_set.owner.firstname %> <%= sample_set.owner.surname %></td>
  <td><%= sample_set.facility.code %></td>
  <td><%= sample_set.sampling_date %></td>
  <td><%= sample_set.num_samples %></td>
  <td><%= sample_set.status %></td>
  <td><%= link_to "View", sample_set %></td>
</tr>