<% provide(:title, 'New Sample Set') %>
<% provide(:pageheading, 'New Sample Set') %>

<%= form_for @sample_set, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :facility_id, 'Facility', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= collection_select(:sample_set, :facility_id, Facility.all, :id, :code, {include_blank:'Select Facility'}, {:class=>"form-control"} ) %>
    </div>
  </div>
  
  <div class="form-group">
	  <%= f.label :project_id, 'Project', :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	  	<%= collection_select(:sample_set, :project_id, Project.all, :id, :code, {include_blank:'Select Project'}, {:class=>"form-control"} ) %>
	  </div> 
  </div> 
  
  <div class="form-group">
    <%= f.label :date_sampled, 'Sampling Date', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.date_field :sampling_date, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
	  <%= f.label :num_samples, 'Number of Samples Required', :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.number_field :num_samples, :min => 0, :class => "form-control" %>  
	  </div> 
  </div> 
 
  <div class="form-group">
	  <%= f.label :add_info, "Additional Information", :class => "col-lg-2 control-label"  %>
	  <div class="col-lg-8">
	    <%= f.text_area :add_info, size: "60x12", :class => "form-control" %>
	  </div>
  </div> 
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>