<% provide(:title, 'New Sample Set') %>
<% provide(:pageheading, 'New Sample Set') %>
<h1>New Sample Set</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@sample_set) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :facility_id %>
      <%= f.number_field :facility_id, :min => 0 %>
      
      <%= f.label :project_id %>
      <%= f.number_field :project_id, :min => 0 %>

      <%= f.label :sampling_date %>
      <%= f.date_field :sampling_date %>

      <%= f.label :num_samples %>
      <%= f.number_field :num_samples, :min => 0 %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>