<% provide(:title, 'New Sample Set') %>
<% provide(:pageheading, 'New Sample Set') %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@sample_set) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :facility_id, 'Facility' %>
      <%= collection_select(:sample_set, :facility_id, Facility.all, :id, :code, include_blank:true) %>
      
      <%= f.label :project_id, 'Project' %>
      <%= f.number_field :project_id, :min => 0 %>

      <%= f.label :sampling_date, 'Sampling Date' %>
      <%= f.date_field :sampling_date %>

      <%= f.label :num_samples, 'Number of Samples Required' %>
      <%= f.number_field :num_samples, :min => 0, :max => 999 %>
      
      <%= f.label :add_info, "Additional Information" %>
      <%= f.text_area :add_info, size: "60x12" %>

      <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>