<% provide(:title, 'Sample Set View') %>
<% provide(:pageheading, 'Sample Set '+ @sample_set.id.to_s) %>

<!-- Add edit/delete links if current user -->
<% if current_user?(@sample_set.owner) %> 
  <div class="row bottomspace">  
    <div class="span2 offset10">
	  <div class="btn-group">
		<a class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Sample Set", :action => 'edit' %></li>
		    <li><%= link_to "Export Spreadsheet", sample_set_samples_path(sample_set_id:@sample_set.id, format: "xls")%></li>
		    <li><%= link_to "Print QR codes", sample_set_samples_path(sample_set_id:@sample_set.id, format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Delete Sample Set", @sample_set, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	  </div>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h5>Sample Set ID</h5>
    <h5>Owner</h5>
    <h5>Facility</h5>
    <h5>Project</h5>
    <h5>Number of Samples</h5>
    <h5>Sampling Date</h5>
    <h5>Status</h5>
    <h5>Additional Info</h5>
  </div>
  
  <div class="span3 offset1">
    <h5><%= @sample_set.id %></h5>
    <h5><%= @sample_set.owner.firstname %> <%= @sample_set.owner.surname %></h5>
    <h5><%= @sample_set.facility.code %></h5>
    <h5><%= @sample_set.project_id %></h5>
    <h5><%= @sample_set.num_samples %></h5>
    <h5><%= @sample_set.sampling_date %></h5>
    <h5><%= @sample_set.status %></h5>
    <h5><%= @sample_set.add_info %></h5>
  </div>
</div>

<h2 class= "heading-separator">Samples included in this sample set</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>