<% provide(:title, 'Sample Set View') %>
<% provide(:pageheading, 'Sample Set '+ @sample_set.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@sample_set.owner) %> 
  <div class="row">  
    <div class="span2 offset4">
      <%= button_to "Edit Sample Set", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <!-- <%= button_to "Delete Sample Set", {:action => 'destroy' }, :method => :get, :class=>"btn btn-block btn-danger" %> -->
      <%= button_to "Delete Sample Set", @sample_set, method: :delete, data: { confirm: "Are you sure?" }, title: @sample_set.project_id, :class=>"btn btn-block btn-danger" %>
    </div>
    <div class="span2">
      <%= button_to "Export Spreadsheet", sample_set_samples_path(sample_set_id:@sample_set.id, format: "xls"), :method => "get", :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Print QR codes", sample_set_samples_path(sample_set_id:@sample_set.id, format: "pdf"), :formtarget => '_blank', :method => "get", :class=>"btn btn-block" %>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h4>Sample Set ID</h4>
    <h4>Owner</h4>
    <h4>Facility</h4>
    <h4>Project</h4>
    <h4>Number of Samples</h4>
    <h4>Sampling Date</h4>
    <h4>Status</h4>
    <h4>Additional Info</h4>
  </div>
  
  <div class="span3 offset1">
    <h4><%= @sample_set.id %></h4>
    <h4><%= @sample_set.owner.firstname %> <%= @sample_set.owner.surname %></h4>
    <h4><%= @sample_set.facility.code %></h4>
    <h4><%= @sample_set.project_id %></h4>
    <h4><%= @sample_set.num_samples %></h4>
    <h4><%= @sample_set.sampling_date %></h4>
    <h4><%= @sample_set.status %></h4>
    <h4><%= @sample_set.add_info %></h4>
  </div>
</div>

<h2 class= "heading-separator">Samples included in this sample set</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>