<% provide(:title, 'Sample Set View') %>
<% provide(:pageheading, 'Sample Set '+ @sample_set.id.to_s) %>

<!-- Add edit/delete links if current user -->
<% if current_user == @sample_set.owner %> 
 <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Sample Set", :action => 'edit' %></li>
		    <!-- # <li><%= link_to "Export Spreadsheet", sample_set_samples_path(sample_set_id:@sample_set.id, format: "xls")%></li> -->
		    <li><%= link_to "Export CSV", sample_set_samples_path(sample_set_id:@sample_set.id, format: "csv")%></li>
		    <li><%= link_to "Print QR codes", sample_set_samples_path(sample_set_id:@sample_set.id, format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Append New Sample", new_sample_set_sample_path(sample_set_id:@sample_set.id) %></li>
		    <li><%= link_to "Delete Sample Set", @sample_set, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	</div>
  </div>
<% end %>


<div class="topspace50">
  	
  	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Sample Set ID</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.id %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Owner</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.owner.firstname %> <%= @sample_set.owner.surname %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Facility</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.facility.code %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Project</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.project.code %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Number of Samples</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.num_samples %></p>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Sampling Date</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.sampling_date %></p>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Status</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.status %></p>
	  </div>
	</div>	

	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Additional Info</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @sample_set.add_info %></p>
	  </div>
	</div>
</div>


<div class="row">
  <div class="col-xs-12 rowline">
    <h4>Samples included in this sample set</h4>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'samples/samples' %>
  </div>
</div>

 
<% if current_user == @sample_set.owner %> 

	<div class="row">
      <div class="col-xs-12 rowline">
        <h4>Batch upload of sample information</h4>
      </div>
    </div>
	<%= form_tag({action: :import}, multipart: true) do %>
		<div class="fileinput fileinput-new input-group col-md-6 col-md-offset-3" data-provides="fileinput">
		  <div class="form-control" data-trigger="fileinput">
		  	<i class="glyphicon glyphicon-file fileinput-exists"></i> 
		  	<span class="fileinput-filename"></span>
		  </div>
		  <span class="input-group-addon btn btn-default btn-file">
		  	<span class="fileinput-new">Select file</span>
		    <span class="fileinput-exists">Change</span>
		    <%= file_field_tag :file %>
		  </span>
		  <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
		</div>
		<div class="row">
		  <%= submit_tag "Import CSV", :class => 'btn btn-inverse col-md-4 col-md-offset-4' %>
		</div>
	<% end %>
 
<% end %>