<% provide(:title, @user.firstname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.firstname %> <%= @user.surname %>, <%= @user.email %>
      </h1>
    </section>
  </aside>
  
  <div class="span8">
    <% if @user.sample_sets.any? %>
      <h3>Sample Sets (<%= @user.sample_sets.count %>)</h3>
      <ol class="sample_sets">
        <%= render @sample_sets %>
      </ol>
      <%= will_paginate @sample_sets %>
    <% end %>
  </div>
</div>