<li id="<%= feed_item.id %>">
  <span class="user">
    <%= link_to feed_item.owner.firstname, feed_item.owner %>
  </span>
  <span class="content"><%= feed_item.project_id %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.owner) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "Are you sure?" },
                                     title: feed_item.project_id %>
  <% end %>
</li>