<%= form_for(@sample_set) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.number_field :facility_id %>
    <%= f.number_field :project_id  %>
    <%= f.date_field   :sampling_date %>
    <%= f.number_field :num_samples %>

  </div>
  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
<% end %>