<tr>
  <td><%= storage_location.id %></td>
  <td><%= storage_location.code %></td>
  <td><%= storage_location.building %></td>
  <td><%= storage_location.room %></td>
  <td><%= storage_location.custodian.firstname %> <%= storage_location.custodian.surname %>
  <td><%= link_to "View", storage_location %></td>
</tr>