<% provide(:title, "Edit Storage Location") %>
<% provide(:pageheading, 'Edit Storage Location '+ @storage_location.code ) %>

<%= form_for @storage_location, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :code, "Code", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :code, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :building, "Building", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :building, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :room, "Room", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.number_field :room, :min => 1, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Address", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>
      
  <div class="form-group">
    <%= f.label :description, "Description", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :description, :size => "60x12", :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Update Storage Location", :class => "btn btn-large btn-primary" %>
    </div>
  </div>  

<% end %>