<% provide(:title, 'Storage Location View') %>
<% provide(:pageheading, 'Storage Location '+ @storage_location.code) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@storage_location.custodian) %> 
  <div class="row">  
    <div class="span2 offset8">
      <%= button_to "Edit Location", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Location", @storage_location, method: :delete, data: { confirm: "Are you sure?" }, title: @storage_location.code, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h5>Storage Location ID</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.id %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Storage Location Code</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.code %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Building</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.building %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Room</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.room %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Address</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.address %></h5>
  </div>
</div>

<div class="row">   
  <div class="span3 offset3">
    <h5>Custodian</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.custodian.firstname %> <%= @storage_location.custodian.surname %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Description</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @storage_location.description %></h5>
  </div>
</div>


<h2 class= "heading-separator">Samples associated with this storage location</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>

<h2 class= "heading-separator">Containers associated with this storage location</h2>

<div class="row">
  <div class="span12">
    <%= render 'containers/containers' %>
  </div>
</div>
