<tr>
  <td><%= facility.id %></td>
  <td><%= facility.code %></td>
  <td><%= facility.description %></td>
  <td><%= facility.contact.firstname %> <%= facility.contact.surname %>
  <td><%= link_to "View", facility %></td>
</tr>