<% provide(:title, "Edit Facility") %>
<% provide(:pageheading, 'Edit Facility '+ @facility.code ) %>

<%= form_for(@facility) do |f| %>
  <div class="row">
    
    <div class="span6 offset3">
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :code, 'Facility Code' %>
      <%= f.text_field :code %>
      
      <%= f.label :description, "Description" %>
      <%= f.text_area :description, size: "60x12" %>
    </div>
    
    <div class="row">
      <div class="span4 offset5">
        <%= f.submit "Update Facility", class: "btn btn-large btn-primary" %>
      </div>
    </div>
    
  </div>
<% end %>