<% provide(:title, 'New Facility') %>
<% provide(:pageheading, 'New Facility') %>

<%= form_for @facility, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :code, "Facility Code", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :code, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
	<%= f.label :description, "Description", :class => "col-lg-2 control-label"  %>
	<div class="col-lg-8">
	  <%= f.text_area :description, size: "60x12", :class => "form-control" %>
	</div>
  </div>
      
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>

<% end %>