<% provide(:title, 'Facility View') %>
<% provide(:pageheading, 'Facility '+ @facility.code) %>

	<div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Facility ID</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @facility.id %></p>
	  </div>
	</div>
	
    <div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Facility Code</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @facility.code %></p>
	  </div>
	</div>
	
    <div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Description</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @facility.description %></p>
	  </div>
	</div>
	
    <div class="row">
	  <div class="col-md-offset-4 col-md-2">
	    <p class="text-left">Contact</p>
	  </div>   
	  <div class="col-md-4">
	    <p class="text-muted"><%= @facility.contact.firstname %> <%= @facility.contact.surname %> (<%= @facility.contact.email %>)</p>
	  </div>
	</div>
	

  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>Sample Sets associated with this facility</h4>
    </div>
  </div>

	<div class="row">
	  <div class="col-xs-12">
	    <%= render 'sample_sets/sample_sets' %>
	  </div>
	</div>

  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>Samples associated with this facility</h4>
    </div>
  </div>

	<div class="row">
	  <div class="col-xs-12">
	    <%= render 'samples/samples' %>
	  </div>
	</div>


