<% provide(:title, 'Facility View') %>
<% provide(:pageheading, 'Facility '+ @facility.code) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@facility.contact) %> 
  <div class="row">  
    <div class="span2 offset8">
      <%= button_to "Edit Facility", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Facility", @facility, method: :delete, data: { confirm: "Are you sure?" }, title: @facility.code, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h5>Facility ID</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @facility.id %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Facility Code</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @facility.code %></h5>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h5>Description</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @facility.description %></h5>
  </div>
</div>

<div class="row">   
  <div class="span3 offset3">
    <h5>Contact</h5>
  </div>
  <div class="span3 offset1">
    <h5><%= @facility.contact.firstname %> <%= @facility.contact.surname %></h5>
  </div>
</div>


<h2 class= "heading-separator">Sample Sets associated with this facility</h2>

<div class="row">
  <div class="span12">
    <%= render 'sample_sets/sample_sets' %>
  </div>
</div>

<h2 class= "heading-separator">Samples associated with this facility</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>


