<tr>
  <td><%= container.id %></td>
  <td><%= container.container_type %></td>
  <td><%= container.storage_location.code %></td>
  <td><%= container.owner.firstname %> <%= container.owner.surname %>
  <td><%= link_to "View", container %></td>
</tr>