<% provide(:title, 'New Container') %>
<% provide(:pageheading, 'New Container') %>

<%= form_for @container, :html => {:class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <div class="form-group">
    <%= f.label :material_type, "Container Type", :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :container_type, :class => "form-control" %>
    </div>
  </div>
  
  <div class="form-group">
	<%= f.label :comments, "Description", :class => "col-lg-2 control-label"  %>
	<div class="col-lg-8">
	  <%= f.text_area :description, size: "60x12", :class => "form-control" %>
	</div>
  </div>
  
  <div class="form-group">
    <%= f.label :storage_location_id, 'Storage Location', :class => "col-lg-2 control-label" %>
    <div class="col-lg-8">
      <%= collection_select(:container, :storage_location_id, StorageLocation.all, :id, :code, {include_blank: 'None selected'}, {:class=>"form-control", :id=>'storage_locations'} ) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-4 col-md-offset-4 topspace50 bottomspace">
      <%= f.submit "Submit", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>

<script type="text/javascript">
$('#storage_locations').multiselect({
    buttonClass : "form-control",
    buttonWidth: "50%",
    maxHeight: 400,
    enableFiltering: true
});
</script>