<% provide(:title, 'Container View') %>
<% provide(:pageheading, 'Container '+ @container.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@container.owner) %> 
  <div class="row">  
    <div class="span2 offset8">
      <%= button_to "Edit Container", {:action => 'edit' }, :method => :get, :class=>"btn btn-block" %>
    </div>
    <div class="span2">
      <%= button_to "Delete Container", @container, method: :delete, data: { confirm: "Are you sure?" }, title: @container.id, :class=>"btn btn-block btn-danger" %>
    </div>
  </div>
<% end %>

<div class="row">  
  <div class="span3 offset3">
    <h4>Container ID</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @container.id %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Container Type</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @container.container_type %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Storage Location</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @container.storage_location.code %></h4>
  </div>
</div>

<div class="row">   
  <div class="span3 offset3">
    <h4>Owner</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @container.owner.firstname %> <%= @container.owner.surname %></h4>
  </div>
</div>

<div class="row">  
  <div class="span3 offset3">
    <h4>Description</h4>
  </div>
  <div class="span3 offset1">
    <h4><%= @container.description %></h4>
  </div>
</div>


<h2 class= "heading-separator">Samples held within this Container</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>
