<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>

<% provide(:title, 'Container View') %>
<% provide(:pageheading, 'Container '+ @container.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user?(@container.owner) %>
   <div class="row bottomspace">  
    <div class="span2 offset10">
	  <div class="btn-group">
		<a class="btn btn-info btn-large dropdown-toggle" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Container", :action => 'edit' %></li>
		    <li><%= link_to "Print QR Code", container_path(format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Delete Container", @container, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
		</ul>
	  </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="span7 offset1">	
	
	<div class="row">  
	  <div class="span3">
	    <h5>Container ID</h5>
	  </div>
	  <div class="span3 offset1">
	    <h5><%= @container.id %></h5>
	  </div>
	</div>
	
	<div class="row">  
	  <div class="span3">
	    <h5>Container Type</h5>
	  </div>
	  <div class="span3 offset1">
	    <h5><%= @container.container_type %></h5>
	  </div>
	</div>
	
	<div class="row">  
	  <div class="span3">
	    <h5>Storage Location</h5>
	  </div>
	  <div class="span3 offset1">
	    <h5><%= @container.storage_location.code %></h5>
	  </div>
	</div>
	
	<div class="row">   
	  <div class="span3">
	    <h5>Owner</h5>
	  </div>
	  <div class="span3 offset1">
	    <h5><%= @container.owner.firstname %> <%= @container.owner.surname %></h5>
	  </div>
	</div>
	
	<div class="row">  
	  <div class="span3">
	    <h5>Description</h5>
	  </div>
	  <div class="span3 offset1">
	    <h5><%= @container.description %></h5>
	  </div>
	</div>
  </div>
  
  <div class="span4">
    
    <div class="row">
      <div class="span2 offset1">
        <%= render_qr_code(container_url(@container), 3) %>
      </div>
    </div>
    <div class="row">
      <div class="span2 offset2">
        <h5>C<%= @container.id %></h5>
      </div>
    </div>
  </div>
  
</div>


<h2 class= "heading-separator">Samples held within this Container</h2>

<div class="row">
  <div class="span12">
    <%= render 'samples/samples' %>
  </div>
</div>
