<style type="text/css">
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
  }
  td {
    border-width: 0; 
    border-style: none;
    border-color: #0000ff; 
    border-collapse: collapse; 
    padding: 0; 
    margin: 0; 
    width: 10px; 
    height: 10px; 
  }
  td.black { background-color: #000; }
  td.white { background-color: #fff; }
</style>

<% provide(:title, 'Container View') %>
<% provide(:pageheading, 'Container '+ @container.id.to_s) %>

<!-- Add edit/delete buttons if current user -->
<% if current_user == @container.owner %> 
 <div class="row bottomspace">  
    <div class="col-xs-12 col-sm-2 col-sm-push-10">
		<a class="btn btn-block btn-info" data-toggle="dropdown" href="#" id="options_button">
		  Options
		  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		    <li><%= link_to "Edit Container", :action => 'edit' %></li>
		    <li><%= link_to "Print QR Code", container_path(format: "pdf"), :target => '_blank' %></li>
		    <li><%= link_to "Delete Container", @container, :method => :delete, data: { confirm: "Are you sure?" }, :class=>"redtext" %></li>
	    </ul>
	</div>
  </div>
<% end %>


<div class="row">
  <div class="col-md-9">	
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Container</p>
	  </div>   
	  <div class="col-md-7">
	    <p class="text-muted"><%= @container.id %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Container Type</p>
	  </div>   
	  <div class="col-md-7">
	    <p class="text-muted"><%= @container.container_type %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Storage Location</p>
	  </div>   
	  <div class="col-md-7">
	    <p class="text-muted"><%= @container.storage_location.code %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Owner</p>
	  </div>   
	  <div class="col-md-7">
	    <p class="text-muted"><%= @container.owner.firstname %> <%= @container.owner.surname %></p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="col-md-offset-2 col-md-3">
	    <p class="text-left">Description</p>
	  </div>   
	  <div class="col-md-7">
	    <p class="text-muted"><%= @container.description %></p>
	  </div>
	</div>
	
  </div>
  
  <div class="col-md-3">
    
    <div class="row">
	  <div class="col-xs-5 col-md-9">
	    <%= render_qr_code(container_url(@container), 3) %>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-6 col-md-9">
	    <h5 class="text-center">C<%= @container.id %></h5>
	  </div>
	</div>
	
  </div>
  
</div>


  <div class="row">
    <div class="col-xs-12 rowline">
      <h4>Samples held within this Container</h4>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <%= render 'samples/samples' %>
  </div>
</div>
