<ul class="nav navbar-nav">
  <li><%= link_to "Dashboard", dashboard_path, :id => 'dashboard_button' %></li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samples<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', samples_path, :id => 'samples_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_sample_path, :id => 'samples_new' %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sample Sets<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', sample_sets_path, :id => 'sample_sets_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_sample_set_path, :id => 'sample_sets_new' %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Containers<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', containers_path, :id => 'containers_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_container_path, :id => 'containers_new' %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Storage Locations<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', storage_locations_path, :id => 'storage_locations_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_storage_location_path, :id => 'storage_locations_new' %>
      </li>
    </ul>
  </li>
  
</ul>

<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">View Resources<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'Facilities', facilities_path, :id => 'facilities_index' %>
      </li>
      <li>
        <%= link_to 'Projects', projects_path, :id => 'projects_index' %>
      </li>
      <li>
        <%= link_to 'Analysis Types', analyses_path, :id => 'analyses_index' %>
      </li>
    </ul>
  </li>
</ul>	