<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sample Sets<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', sample_sets_path, :id => 'sample_sets_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_sample_set_path, :id => 'sample_sets_new' %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samples<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', samples_path, :id => 'samples_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_sample_path, :id => 'samples_new' %>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Facilities<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', facilities_path, :id => 'facilities_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_facility_path, :id => 'facilities_new' %>
      </li>
    </ul>
  </li>
  
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Storage Locations<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'View All', storage_locations_path, :id => 'storage_locations_index' %>
      </li>
      <li>
        <%= link_to 'Create New', new_storage_location_path, :id => 'storage_locations_new' %>
      </li>
    </ul>
  </li>
  
</ul>